@use "utilities/constants";

.main {
	display: block;
	margin: 2.2rem 0;
}

.title {
	font-weight: constants.$font-weight-semibold;
	font-size: constants.$font-size-normal;
	margin-top: 0;
	margin-bottom: 0;
}

.value {
	font-weight: constants.$font-weight-light;
	font-size: constants.$font-size-large;
	margin-top: 1.4rem;
	margin-bottom: 0;
}