/**
 * Colors
 */
$primary-color: #661AFF;
$secondary-color: #F1E7FF;
$inactive-color: #BDBDBD;

$text-color-dark: #2A2A2A;
$text-color-light: #FFFFFF;

/**
 * Typography
 */
$font-family: "Poppins";

$font-size-default: 10px;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;