@use "utilities/constants";

html, body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: constants.$font-weight-regular;
    font-size: constants.$font-size-root;
}

p, a, li {
    font-size: constants.$font-size-normal;
}